<!DOCTYPE html>
<html>
  <head>
    <title>Semester</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <a href="{{url_for('tsubjects', branch=branch, semester='SEM1')}}"
      >Semester 1</a
    >
    <a href="{{url_for('tsubjects', branch=branch, semester='SEM2')}}"
      >Semester 2</a
    >
    <a href="{{url_for('tsubjects', branch=branch, semester='SEM3')}}"
      >Semester 3</a
    >
    <a href="{{url_for('tsubjects', branch=branch, semester='SEM4')}}"
      >Semester 4</a
    >
    <a href="{{url_for('tsubjects', branch=branch, semester='SEM5')}}"
      >Semester 5</a
    >
    <a href="{{url_for('tsubjects', branch=branch, semester='SEM6')}}"
      >Semester 6</a
    >
    <a href="{{url_for('tsubjects', branch=branch, semester='SEM7')}}"
      >Semester 7</a
    >
    <a href="{{url_for('tsubjects', branch=branch, semester='SEM8')}}"
      >Semester 8</a
    >
  </body>
</html>
