<!DOCTYPE html>
<head>
    <title>Student</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.sound.js"></script>
    <script type="text/javascript" src="{{ url_for('js', path='p5.speech.js') }}"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script>
            function readIt() {
                let speech = new p5.Speech();
                speech.setVoice("Google हिन्दी");
                speech.speak("News or Subject");
                $(document).ready(function() {
                  $("body").keyup(function(e) {
                    if (e.keyCode == 17) {
                      let speechRec = new p5.SpeechRec("Google हिन्दी", gotSpeech);
                      let speech = new p5.Speech();
                      speechRec.start();
                      console.log(speechRec);
                      function gotSpeech() {
                        if (speechRec.resultValue) {
                          a = speechRec.resultString;
                          a = a.replace(/ /g, "");
                          a = a.toLowerCase();
                          if (a == "back"){
                            window.history.back();
                          }
                          if (a == "news") {
                              var news = {{ news|safe }}
                              news.toString();
                              speech.speak(news);
                            }else if ( a == "subjects" || a=="subject") {
                                var subjects = {{ subjects|safe }}
                                subjects.toString();
                                speech.speak(subjects);
                          }else {
                            {% for i in subjects %}
                            var temp = {{ i|tojson }};
                            temp = temp.toLowerCase();
                            if (a == temp) {
                                window.open('{{url_for('chapter', subject=i)}}', '_top');
                            }
                            {% endfor %}
                          }
                        }
                      }
                    }
                  });
                });
              }
              
              window.onload = readIt();
              
    </script>
</head>
<body>
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
        onclick="w3_close()">Close &times;</button>
        <a href="{{url_for('login')}}" class="w3-bar-item w3-button">LOGOUT</a>
    </div>
    <div class="w3-deep-purple">
        <button id="openNav" class="w3-button w3-deep-purple w3-xlarge" onclick="w3_open()">&#9776;</button>
    </div>
  <div class="w3-display-middle w3-centre" style="width:80%;">
    <div class="w3-card-4 w3-margin-bottom w3-round-large w3-deep-purple">
        <h2 class="w3-margin-bottom">NEWS</h2>
        <ul class="w3-ul w3-center w3-large w3-margin-bottom w3-white">
        {% for i in news %}
        <li>{{i}}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="w3-card-4 w3-margin-bottom w3-round-large w3-deep-purple w3-centre">
        <h2 class="w3-margin-bottom">SUBJECTS</h2>
        <ul class="w3-ul w3-center w3-hoverable w3-large w3-white">
        {% for i in subjects %}
        <li onclick="window.open('{{url_for('chapter', subject=i)}}', '_top')">{{i}}</li>
        {% endfor %}
        </ul>
    </div>
  </div>
  <script>
      function w3_open() {
          document.getElementById("mySidebar").style.display = "block";
        }
        
      function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
        }
</script>
</body>
</html>